* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: hsl(245, 50%, 20%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.controls {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

#resetBtn {
	padding: 12px 16px;
	font-size: 16px;
	background: hsl(227, 100%, 89%);
	color: hsl(245, 50%, 20%);
	font-weight: 500;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#resetBtn:active {
	transform: scale(0.98);
}

canvas {
	cursor: crosshair;
}
